.btn {
  position: relative;
  padding: 20px 40px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
}

.btn .text-btn {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  z-index: 1;
}

.btn .liquid {
  position: absolute;
  top: -100px;
  left: 1px;
  width: 250px;
  height: 250px;
  background-color: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.btn .liquid::after,
.btn .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background-color: #000;
}

.btn .liquid::before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.btn .liquid::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.btn:hover .liquid {
  top: -160px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
