.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.title {
  display: inline-block;
  text-align: start;
  font-size: 32px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.title-change {
  color: #4973ff;
}

.burger-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  top: -16px;
  height: 700px;
  width: 460px;
  padding: 10px;
  overflow: hidden;
  border-radius: 30px;
}

.menu-container {
  display: flex;
  align-items: center;
  background-color: #9c9b9b;
  border-radius: 30px;
  border-bottom-left-radius: 100%;
  width: 240px;
  height: 320px;
  overflow: hidden;
  z-index: 5;
  padding: 15px 20px 15px 30px;
  box-shadow: 1px 3px 3px 1px rgb(99, 98, 98);
  transform: translateX(100%) translateY(-100%);
  transition: transform 0.5s ease;
  animation: border-hide 0.6s;

  &.active {
    transform: translateX(0) translateY(0);
    border-bottom-left-radius: 30px;
    animation: border-show 0.4s;
  }
}

.open {
  display: flex;
}

.btn-container {
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #9c9b9b;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    animation: rotate-negativ 0.8s ease;

    &:hover {
      animation: rotate 0.8s ease;
    }
  }
}

.menu-toggle {
  background-color: #9c9b9b;
  width: 20px;
  height: 16px;
  padding: 0;
  font-size: 18px;
  position: relative;

  .menu-stick {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scale(1);
    transition: transform 0.4s ease;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    display: block;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active::before {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }

  &.active::after {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
  }

  &.active .menu-stick {
    transform: scale(0);
  }

  &.active {
    transition: transform 1s ease;

    &:hover {
      transform: scale(0.8);
    }
  }
}

.dropdown-menu {
  display: none;
  border-radius: 15px;
  background-color: #ffffff00;
  opacity: 0;
  animation: hide 0.5s;
  transition: opacity 0.2s ease;

  &.open {
    opacity: 1;
    animation: show 0.5s;
  }

  &.open .menu-list {
    opacity: 1;
  }
}

.menu-list {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu-item {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-link {
  display: block;
  text-decoration: none;

  &:hover {
    color: #4973ff;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes border-show {
  from {
    border-bottom-left-radius: 100%;
  }

  to {
    border-bottom-left-radius: 30px;
  }
}

@keyframes border-hide {
  from {
    border-bottom-left-radius: 30px;
  }

  to {
    border-bottom-left-radius: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate-negativ {
  from {
    transform: rotate(1turn);
  }

  to {
    transform: rotate(0);
  }
}

@media (max-width: 479px) {
  .burger-container {
    width: 300px;
  }
}
