.container-grid-all {
  max-width: 530px;
  max-height: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
