@charset "UTF-8";
body {
  background-color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  border: none;
  outline: none;
}

.container-grid-all {
  max-width: 530px;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.title {
  display: inline-block;
  text-align: start;
  font-size: 32px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.title-change {
  color: #4973ff;
}

.burger-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  top: -16px;
  height: 700px;
  width: 460px;
  padding: 10px;
  overflow: hidden;
  border-radius: 30px;
}

.menu-container {
  display: flex;
  align-items: center;
  background-color: #9c9b9b;
  border-radius: 30px;
  border-bottom-left-radius: 100%;
  width: 240px;
  height: 320px;
  overflow: hidden;
  z-index: 5;
  padding: 15px 20px 15px 30px;
  box-shadow: 1px 3px 3px 1px rgb(99, 98, 98);
  transform: translateX(100%) translateY(-100%);
  transition: transform 0.5s ease;
  animation: border-hide 0.6s;
}
.menu-container.active {
  transform: translateX(0) translateY(0);
  border-bottom-left-radius: 30px;
  animation: border-show 0.4s;
}

.open {
  display: flex;
}

.btn-container {
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #9c9b9b;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container.active {
  animation: rotate-negativ 0.8s ease;
}
.btn-container.active:hover {
  animation: rotate 0.8s ease;
}

.menu-toggle {
  background-color: #9c9b9b;
  width: 20px;
  height: 16px;
  padding: 0;
  font-size: 18px;
  position: relative;
}
.menu-toggle .menu-stick {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scale(1);
  transition: transform 0.4s ease;
}
.menu-toggle::before, .menu-toggle::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.menu-toggle.active::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.menu-toggle.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}
.menu-toggle.active .menu-stick {
  transform: scale(0);
}
.menu-toggle.active {
  transition: transform 1s ease;
}
.menu-toggle.active:hover {
  transform: scale(0.8);
}

.dropdown-menu {
  display: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  animation: hide 0.5s;
  transition: opacity 0.2s ease;
}
.dropdown-menu.open {
  opacity: 1;
  animation: show 0.5s;
}
.dropdown-menu.open .menu-list {
  opacity: 1;
}

.menu-list {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu-item {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-link {
  display: block;
  text-decoration: none;
}
.menu-link:hover {
  color: #4973ff;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
@keyframes border-show {
  from {
    border-bottom-left-radius: 100%;
  }
  to {
    border-bottom-left-radius: 30px;
  }
}
@keyframes border-hide {
  from {
    border-bottom-left-radius: 30px;
  }
  to {
    border-bottom-left-radius: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate-negativ {
  from {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(0);
  }
}
@media (max-width: 479px) {
  .burger-container {
    width: 300px;
  }
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .list-item {
  font-weight: 600;
  line-height: 1.6;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header .list-link:hover {
  color: #4973ff;
  transition: color 0.2s ease;
}
.header .link {
  color: #4973ff;
}

.main-title {
  position: absolute;
  max-width: 300px;
  text-align: center;
  top: 100px;
  font-weight: 600;
  font-size: 24px;
}

.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
  position: relative;
  margin-top: 150%;
}

.box-1.hidden {
  display: none;
}

.container-heart {
  position: relative;
}

.heart {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  margin-top: 370px;
}

.heart::before {
  content: "'Beer lovers' Issus & Satan ";
  width: 110px;
  position: absolute;
  display: block;
  text-align: center;
  box-shadow: 0px 5px 15px 0px rgb(41, 41, 41);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  color: #ffffff;
  top: 40px;
  transform: translate(-200%);
  transition: transform 1s ease;
  transition-delay: 0.3s;
  z-index: 3;
}

.heart:hover::before {
  transform: translate(0);
}

.heart::after {
  content: "";
  display: block;
  text-align: center;
  background-image: url(../img/ббб.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 0.3s;
  z-index: 2;
}

.heart:hover::after {
  opacity: 1;
}

.heart-text {
  position: absolute;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px 0px rgb(41, 41, 41);
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.8s ease;
  transition-delay: 0.3s;
}

.heart:hover .heart-text {
  opacity: 0;
}

.liquid-heart {
  position: absolute;
  top: -100px;
  left: 0;
  width: 500px;
  height: 500px;
  background-color: #ff4949;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.liquid-heart::after,
.liquid-heart::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.liquid-heart::before {
  border-radius: 45%;
  background-color: rgb(20, 20, 20);
  animation: animate 5s linear infinite;
}

.liquid-heart::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.btn {
  position: relative;
  padding: 20px 40px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
}

.btn .text-btn {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  z-index: 1;
}

.btn .liquid {
  position: absolute;
  top: -100px;
  left: 1px;
  width: 250px;
  height: 250px;
  background-color: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.btn .liquid::after,
.btn .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background-color: #000;
}

.btn .liquid::before {
  border-radius: 45%;
  background-color: rgb(20, 20, 20);
  animation: animate 5s linear infinite;
}

.btn .liquid::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.btn:hover .liquid {
  top: -160px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.card {
  padding: 20px;
  background-color: #d6d3d3;
  border-radius: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-container {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-subtitle {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 16px;
  margin-left: 10px;
}