body {
  background-color: black;
}

.container {
  max-width: 630px;
  height: 956px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box-1 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  padding: 16px 32px;
  border-radius: 10px;
  transition: opacity 0.2s ease;
  position: relative;
}

.box-1.hidden {
  display: none;
}

.container-heart {
  position: relative;
}

.heart {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background-color: rgb(244, 133, 235);
  transform: rotate(-45deg);
  margin: 50px;
  transition-delay: 0.5s;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(244, 133, 235);
  border-radius: 50%;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0;
}

.text {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffc7e1;
  transform: rotate(45deg);
  z-index: 1;
}
